<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="style.css">
<div class="grid-container">
    <header class="header">
        <div class="brand">
            <a href="index.html">Glass Python</a>
        </div>
        <div class="header-links">
            <a href="cart.html">Cart</a>
            <a href="signin.html">Sign In</a>
        </div>
    </header>

    <head>
        <title>Glass Python</title>
    </head>

    <body>
        <div>
            <header>
                Glass Python
            </header>
            <aside>
                Shopping Categories
            </aside>
            <main class="main">
                <ul>
                    <li>Product 1</li>
                    <li>Product 2</li>
                    <li>Product 3</li>
                    <li>Product 4</li>
                    <li>Product 5</li>
                </ul>
            </main>
            <footer class="footer">
                &copy; 2024 Glass Python
                <footer>
        </div>
    </body>

</div>
</link>

</html>